<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Candle View</title>
  </head>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./styles/candleview.css" />
  <script src="./scripts/candleview.js"></script>
  <body>
    <%- include("../partials/header"); %>
    <div class="ms-2">
      <form
        class="mt-3 mb-3 form-horizontal"
        method="post"
        enctype="multipart/form-data"
        action="/uploadImage?cid=<%= candle.cid.cid %>"
      >
        <div class="row">
          <span class="col col-sm-auto my-auto">
            <h5 class="my-auto">Upload User Picture</h5>
          </span>
          <div class="col col-sm-auto">
            <input
              type="file"
              id="myFile"
              name="filename"
              class="col col-sm-=3 form-control"
            />
          </div>
          <div class="col col-sm-3">
            <input
              type="submit"
              class="col col-sm-auto form-control bg-info"
              value="Upload Picture"
              style="width: auto"
            />
          </div>
        </div>
      </form>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col col-md-auto">
          <img src="<%=candle.image%>" class="resize rounded" />
        </div>
        <div class="col col-lg-auto ms-5">
          <table class="table table-borderless maintable table-secondary">
            <tr>
              <th scope="row" class="text-end">Candle ID:</th>
              <td><%= candle.cid.cid %></td>
            </tr>
            <tr>
              <th scope="row" class="text-end">Date Made:</th>
              <td><%= candle.cid.made.toDateString().substring(3) %></td>
            </tr>
            <tr>
              <th scope="row" class="text-end">Weight:</th>
              <td><%= candle.cid.weight %> oz</td>
            </tr>
            <tr>
              <th scope="row" class="text-end">Fragrance Oil Percent:</th>
              <td><%= candle.cid.fo_percent%> %</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div
      class="container d-flex align-items-center justify-content-center mt-5 w-75"
    >
      <div class="row d-flex align-items-stretch justify-content-center">
        <div class="col col-lg-6 rounded" style="border: 10px solid #a9a9a9">
          <table class="table table-borderless infotable">
            <h4 class="mt-2 ms-2">Waxes</h4>
            <% candle.waxes.forEach((single) => { %>
            <tr>
              <th scope="col" class="text-end">Type:</th>
              <td scope="col" class="text-start"><%= single.type %></td>
              <th scope="col" class="text-end">Brand:</th>
              <td scope="col" class="text-start"><%= single.brand %></td>
              <th scope="col" class="text-end">Percent:</th>
              <td scope="col" class="text-start"><%= single.percent %>%</td>
            </tr>
            <%}) %>
          </table>
        </div>
        <div class="col col-lg-6 rounded" style="border: 10px solid #fecda6">
          <table class="table table-borderless infotable">
            <h4 class="mt-2 ms-2">Wicks</h4>
            <% candle.wicks.forEach((single) => { %>
            <tr>
              <th scope="col" class="text-end">Type:</th>
              <td scope="col" class="text-start"><%= single.type %></td>
              <th scope="col" class="text-end">Size:</th>
              <td scope="col" class="text-start"><%= single.size %></td>
              <th scope="col" class="text-end">Number of Wicks:</th>
              <td scope="col" class="text-start"><%= single.wicknum %></td>
            </tr>
            <%}) %>
          </table>
        </div>
        <div class="row d-flex align-items-stretch justify-content-center p-0">
          <div
            class="col col-lg-6 rounded mt-1 h-100"
            style="border: 10px solid #fecda6"
          >
            <table class="table table-borderless w-auto h-auto">
              <h4 class="mt-2 ms-2">Fragrance Oils</h4>
              <% candle.fos.forEach((single) => { %>
              <tr>
                <th class="text-end">Name:</th>
                <td class="text-start"><%= single.name %></td>
                <th class="text-end">Brand:</th>
                <td class="text-start"><%= single.brand %></td>
                <th class="text-end">Percent:</th>
                <td class="text-start"><%= single.percent %>%</td>
              </tr>
              <% }) %>
            </table>
          </div>
          <div class="col col-lg-6 mt-1" style="border: 10px solid #a9a9a9">
            <table class="table table-borderless">
              <h4 class="mt-2 ms-2">Notes</h4>
              <% candle.fos.forEach((single) => { %>
              <tr>
                <td><textarea rows="3" class="w-100"></textarea></td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3">
      <h4>Other wicks with the same waxes and fragrance oils</h4>
    </div>
    <div class="mt-3 d-flex justify-content-center align-items-center">
      <% if(matches===undefined){ %>
      <table class="table w-auto row">
        <% matches.forEach((candle)=>{ %>
        <tr
          onclick="document.location = '/ViewCandle?cid=<%= candle.cid.cid %>'"
        >
          <a href="/ViewCandle?cid=<%= candle.cid.cid %>">
            <th class="text-end">Wick Type:</th>
            <td class="text-start">
              <% candle.wicks.forEach((wick, index)=>{ %> <%= wick.type %> <%
              if(index!=candle.wicks.length-1){ %><br /><% }}); %>
            </td>
            <th class="text-end">Wick Size:</th>
            <td class="text-start">
              <% candle.wicks.forEach((wick, index)=>{ %> <%= wick.size %> <%
              if(index!=candle.wicks.length-1) {%><br /><% }}); %>
            </td>
            <th class="text-end">Number of Wicks:</th>
            <td class="text-start">
              <% candle.wicks.forEach((wick, index) => { %> <%= wick.wicknum %>
              <% if(index!=candle.wicks.length-1){ %><br /><% } %> <% }) %>
            </td>
          </a>
        </tr>
        <% }) %>
      </table>
      <% }else{ %>
      <h1>No Matching Candles</h1>
      <% } %>
    </div>
  </body>
</html>
