<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Babe's Candles</title>
  </head>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./styles/index.css" />
  <body>
    <%- include("../partials/header"); %>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date Created</th>
          <th scope="col">Wax Weight (oz)</th>
          <th scope="col">FO Percent</th>
          <th scope="col">Wax Type</th>
          <th scope="col">Wax Brand</th>
          <th scope="col">FO Name</th>
          <th scope="col">Wick Type</th>
          <th scope="col">Wick Size</th>
          <th scope="col">Number of Wicks</th>
        </tr>
      </thead>
      <tbody>
        <% candles.forEach(function(candle) { %>
        <tr>
          <td><%= candle.cid.made.toDateString().substring(3) %></td>
          <td><%= candle.cid.weight %></td>
          <td><%= candle.cid.fo_percent %></td>
          <td>
            <% candle.waxes.forEach(function(wax, index) { %> <%= wax.type %> <%
            if(index!=candle.waxes.length-1) { %>
            <br />
            <% } %> <% }); %>
          </td>
          <td>
            <% candle.waxes.forEach(function(wax, index){ %> <%= wax.brand %> <%
            if(index!=candle.waxes.length-1) { %>
            <br />
            <% } %><% }); %>
          </td>
          <td>
            <% candle.fos.forEach(function(fo, index) { %> <%= fo.name %> <%
            if(index!=candle.fos.length-1) { %>
            <br />
            <% } %> <% }); %>
          </td>
          <td>
            <% candle.wicks.forEach(function(wick, index) { %> <%= wick.type %>
            <% if(index!=candle.wicks.length-1) { %>
            <br />
            <% } %> <% }); %>
          </td>
          <td>
            <% candle.wicks.forEach(function(wick, index){ %> <%= wick.size %>
            <% if(index!=candle.wicks.length-1) { %>
            <br />
            <% } %> <% }); %>
          </td>
          <td>
            <% candle.wicks.forEach(function(wick, index){ %> <%= wick.wicknum
            %> <% if(index!=candle.wicks.length-1) { %>
            <br />
            <% } %> <% }); %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
